.movie-detail {
  background-color: #181818;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.movie-detail-content {
  display: flex;
  align-items: flex-start;
}

.movie-poster {
  width: 200px; // Adjust as needed
  height: auto;
  border-radius: 4px;
}

.movie-info {
  margin-left: 20px;
  max-width: 600px; // Limit the width of the info section
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
}

.movie-meta {
  margin: 10px 0;
  display: flex;
  gap: 15px;
}

.movie-year, .movie-seasons, .movie-age-rating {
  font-size: 14px;
  color: #b0b0b0; // Lighter grey for meta information
}

.movie-description {
  margin: 15px 0;
  line-height: 1.5;
}

.play-button {
  background-color: #e50914; // Netflix red
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: #f40612; // Darker red on hover
  }
}

.action-buttons {
  margin: 10px 0;
}

.add-button, .download-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.top-10 {
  background-color: #ff2d55; // Red for top 10 badge
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

.rank-position {
  font-size: 14px;
  color: #b0b0b0; // Lighter grey for rank position
}
